In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [52]:
# Store the Wikipedia URL
us_wiki_url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population#cite_note-5"

# Use Pandas to scrape Wikipedia page for tables
us_wiki_tables = pd.read_html(us_wiki_url)

us_pop_df = us_wiki_tables[0]
us_pop_df.head()

     Rank              State         Census population                   \
  Current 2010         State Estimate, July 1, 2019[5] April 1, 2010[6]
0     1.0  1.0    California                  39512223         37254523
1     2.0  2.0         Texas                  28995881         25145561
2     3.0  4.0       Florida                  21477737         18801310
3     4.0  3.0      New York                  19453561         19378102
4     5.0  6.0  Pennsylvania                  12801989         12702379

  Change, 2010–2019             Total U.S. House of Representatives Seats  \
    Percent[note 3]    Absolute Total U.S. House of Representatives Seats
0              6.1%  +2,257,700                                        53
1             15.3%  +3,850,320                                        36
2             14.2%  +2,676,427                                        27
3              0.4%     +75,459                                        27
4              0.8%     +99,610                                        18

  Estimated population per electoral vote, 2019[note 1]  \
  Estimated population per electoral vote, 2019[note 1]
0                                             718404
1                                             763050
2                                             740611
3                                             670812
4                                             640099

  Census population per House seat          \
                   Estimated, 2019    2010
0                           745514  702885
1                           805441  698503
2                           795472  696468
3                           720502  717707
4                           711222  705715

  Percent of the total U.S. population, 2019[note 2]
  Percent of the total U.S. population, 2019[note 2]
0                                             11.91%
1                                              8.74%
2                                              6.47%
3                                              5.86%
4                                              3.86%

In [53]:
# Drop multindex 
us_pop_df.columns = us_pop_df.columns.droplevel(level=1)
us_pop_df.head()

,Rank,Rank,State,Census population,Census population,"Change, 2010–2019","Change, 2010–2019",Total U.S. House of Representatives Seats,"Estimated population per electoral vote, 2019[note 1]",Census population per House seat,Census population per House seat,"Percent of the total U.S. population, 2019[note 2]"
0,1.0,1.0,California,39512223,37254523,6.1%,"+2,257,700",53,718404,745514,702885,11.91%
1,2.0,2.0,Texas,28995881,25145561,15.3%,"+3,850,320",36,763050,805441,698503,8.74%
2,3.0,4.0,Florida,21477737,18801310,14.2%,"+2,676,427",27,740611,795472,696468,6.47%
3,4.0,3.0,New York,19453561,19378102,0.4%,"+75,459",27,670812,720502,717707,5.86%
4,5.0,6.0,Pennsylvania,12801989,12702379,0.8%,"+99,610",18,640099,711222,705715,3.86%

In [54]:
# Drop unwanted column names
us_pop_df = us_pop_df.drop(columns = ['Rank', 'Rank','Change, 2010–2019', 'Change, 2010–2019','Total U.S. House of Representatives Seats',
       'Estimated population per electoral vote, 2019[note 1]','Census population per House seat', 'Census population per House seat', 'Percent of the total U.S. population, 2019[note 2]'])
us_pop_df

,State,Census population,Census population
0,California,39512223,37254523
1,Texas,28995881,25145561
2,Florida,21477737,18801310
3,New York,19453561,19378102
4,Pennsylvania,12801989,12702379
5,Illinois,12671821,12830632
6,Ohio,11689100,11536504
7,Georgia,10617423,9687653
8,North Carolina,10488084,9535483
9,Michigan,9986857,9883640
10,New Jersey,8882190,8791894
11,Virginia,8535519,8001024
12,Washington,7614893,6724540
13,Arizona,7278717,6392017
14,Massachusetts,6949503,6547629
15,Tennessee,6833174,6346105
16,Indiana,6732219,6483802
17,Missouri,6137428,5988927
18,Maryland,6045680,5773552
19,Wisconsin,5822434,5686986
20,Colorado,5758736,5029196
21,Minnesota,5639632,5303925
22,South Carolina,5148714,4625364
23,Alabama,4903185,4779736
24,Louisiana,4648794,4533372
25,Kentucky,4467673,4339367
26,Oregon,4217737,3831074
27,Oklahoma,3956971,3751351
28,Connecticut,3565287,3574097
29,Utah,3205958,2763885
30,Puerto Rico,3193694,3725789
31,Iowa,3155070,3046355
32,Nevada,3080156,2700551
33,Arkansas,3017825,2915918
34,Mississippi,2976149,2967297
35,Kansas,2913314,2853118
36,New Mexico,2096829,2059179
37,Nebraska,1934408,1826341
38,West Virginia,1792147,1852994
39,Idaho,1787065,1567582
40,Hawaii,1415872,1360301
41,New Hampshire,1359711,1316470
42,Maine,1344212,1328361
43,Montana,1068778,989415
44,Rhode Island,1059361,1052567
45,Delaware,973764,897934
46,South Dakota,884659,814180
47,North Dakota,762062,672591
48,Alaska,731545,710231
49,District of Columbia,705749,601723
50,Vermont,623989,625741
51,Wyoming,578759,563626
52,Guam,165718,"159,358[7]"
53,U.S. Virgin Islands,104914,"106,405[8]"
54,American Samoa,55641,"55,519[9]"
55,Northern Mariana Islands,55194,"53,883[10]"
56,Contiguous United States,325386357,306675006
57,The fifty states,327533795,308143836
58,Fifty states + D.C.,328239523,308745538
59,Total U.S. (including D.C. and territories),331814684,312846492

In [55]:
# Rename Columns in US Population - first census population is July 2019, second is april 1st, 2010
us_pop_df = us_pop_df.rename(columns = {"Census population":"Population 2019"})
us_pop_df

,State,Population 2019,Population 2019
0,California,39512223,37254523
1,Texas,28995881,25145561
2,Florida,21477737,18801310
3,New York,19453561,19378102
4,Pennsylvania,12801989,12702379
5,Illinois,12671821,12830632
6,Ohio,11689100,11536504
7,Georgia,10617423,9687653
8,North Carolina,10488084,9535483
9,Michigan,9986857,9883640
10,New Jersey,8882190,8791894
11,Virginia,8535519,8001024
12,Washington,7614893,6724540
13,Arizona,7278717,6392017
14,Massachusetts,6949503,6547629
15,Tennessee,6833174,6346105
16,Indiana,6732219,6483802
17,Missouri,6137428,5988927
18,Maryland,6045680,5773552
19,Wisconsin,5822434,5686986
20,Colorado,5758736,5029196
21,Minnesota,5639632,5303925
22,South Carolina,5148714,4625364
23,Alabama,4903185,4779736
24,Louisiana,4648794,4533372
25,Kentucky,4467673,4339367
26,Oregon,4217737,3831074
27,Oklahoma,3956971,3751351
28,Connecticut,3565287,3574097
29,Utah,3205958,2763885
30,Puerto Rico,3193694,3725789
31,Iowa,3155070,3046355
32,Nevada,3080156,2700551
33,Arkansas,3017825,2915918
34,Mississippi,2976149,2967297
35,Kansas,2913314,2853118
36,New Mexico,2096829,2059179
37,Nebraska,1934408,1826341
38,West Virginia,1792147,1852994
39,Idaho,1787065,1567582
40,Hawaii,1415872,1360301
41,New Hampshire,1359711,1316470
42,Maine,1344212,1328361
43,Montana,1068778,989415
44,Rhode Island,1059361,1052567
45,Delaware,973764,897934
46,South Dakota,884659,814180
47,North Dakota,762062,672591
48,Alaska,731545,710231
49,District of Columbia,705749,601723
50,Vermont,623989,625741
51,Wyoming,578759,563626
52,Guam,165718,"159,358[7]"
53,U.S. Virgin Islands,104914,"106,405[8]"
54,American Samoa,55641,"55,519[9]"
55,Northern Mariana Islands,55194,"53,883[10]"
56,Contiguous United States,325386357,306675006
57,The fifty states,327533795,308143836
58,Fifty states + D.C.,328239523,308745538
59,Total U.S. (including D.C. and territories),331814684,312846492

In [56]:
# Drop the last population 2019 column, it was actually population 2010. 
us_pop_df = us_pop_df.iloc[:,0:-1]
us_pop_df.head()

          State  Population 2019
0    California         39512223
1         Texas         28995881
2       Florida         21477737
3      New York         19453561
4  Pennsylvania         12801989

In [61]:
# Store the Wikipedia URL
can_wiki_url = "https://en.wikipedia.org/wiki/Population_of_Canada_by_province_and_territory"

# Use Pandas to scrape Wikipedia page for tables
can_wiki_tables = pd.read_html(can_wiki_url)

# first table
can_pop_df = can_wiki_tables[0]
can_pop_df.head()

  2016 PopulationRank           Name[1] Population,2016 Census             \
  2016 PopulationRank           Name[1]                  Total Proportion
0                   1           Ontario               13448494     38.26%
1                   2            Quebec                8164361     23.23%
2                   3  British Columbia                4648055     13.22%
3                   4           Alberta                4067175     11.57%
4                   5          Manitoba                1278365      3.64%

  Growth,2011–16 Land area(km2) Populationdensity(per km2)  \
  Growth,2011–16 Land area(km2) Populationdensity(per km2)
0           4.6%      908699.33                       14.8
1           3.3%     1356625.27                        6.0
2           5.6%      922503.01                        5.0
3          11.6%      640330.46                        6.4
4           5.8%      552370.99                        2.3

  House ofCommons seats            2020 population(Q1 est.)[2]             \
                  Total Proportion                       Total Proportion
0                   121      35.8%                    14711827     38.79%
1                    78      23.1%                     8537674     22.55%
2                    42      12.4%                     5110917     13.51%
3                    34      10.1%                     4413146     11.63%
4                    14       4.1%                     1377517      3.64%

  Growth, 2016–20
  Growth, 2016–20
0           9.00%
1           4.39%
2           9.84%
3           8.07%
4           7.47%

In [62]:
# Canadian Population drop level 
can_pop_df.columns = can_pop_df.columns.droplevel(level=1)
can_pop_df.head()

,2016 PopulationRank,Name[1],"Population,2016 Census","Population,2016 Census","Growth,2011–16",Land area(km2),Populationdensity(per km2),House ofCommons seats,House ofCommons seats,2020 population(Q1 est.)[2],2020 population(Q1 est.)[2],"Growth, 2016–20"
0,1,Ontario,13448494,38.26%,4.6%,908699.33,14.8,121,35.8%,14711827,38.79%,9.00%
1,2,Quebec,8164361,23.23%,3.3%,1356625.27,6.0,78,23.1%,8537674,22.55%,4.39%
2,3,British Columbia,4648055,13.22%,5.6%,922503.01,5.0,42,12.4%,5110917,13.51%,9.84%
3,4,Alberta,4067175,11.57%,11.6%,640330.46,6.4,34,10.1%,4413146,11.63%,8.07%
4,5,Manitoba,1278365,3.64%,5.8%,552370.99,2.3,14,4.1%,1377517,3.64%,7.47%

In [63]:
# Canada population drop unwanted columns
can_pop_df = can_pop_df.drop(columns=['2016 PopulationRank','Growth,2011–16', 'Land area(km2)', 'Populationdensity(per km2)','House ofCommons seats','House ofCommons seats','Growth, 2016–20'])
can_pop_df

,Name[1],"Population,2016 Census","Population,2016 Census",2020 population(Q1 est.)[2],2020 population(Q1 est.)[2]
0,Ontario,13448494,38.26%,14711827,38.79%
1,Quebec,8164361,23.23%,8537674,22.55%
2,British Columbia,4648055,13.22%,5110917,13.51%
3,Alberta,4067175,11.57%,4413146,11.63%
4,Manitoba,1278365,3.64%,1377517,3.64%
5,Saskatchewan,1098352,3.12%,1181666,3.12%
6,Nova Scotia,923598,2.63%,977457,2.58%
7,New Brunswick,747101,2.13%,779993,2.06%
8,Newfoundland and Labrador,519716,1.48%,521365,1.38%
9,Prince Edward Island,142907,0.41%,158158,0.42%
10,Northwest Territories,41786,0.12%,44904,0.12%
11,Nunavut,35944,0.10%,39097,0.10%
12,Yukon,35874,0.10%,41078,0.11%
13,Canada,35151728,100%,37894799,100%

In [64]:
# Rename Columns for Canadian Population
canadian_pop = can_pop_df.rename(columns = {"Name[1]": "Province", "Population,2016 Census":"Population 2016","2020 population(Q1 est.)[2]": "Population 2020"})
canadian_pop

,Province,Population 2016,Population 2016,2020 population(Q1 est.)[2],2020 population(Q1 est.)[2]
0,Ontario,13448494,38.26%,14711827,38.79%
1,Quebec,8164361,23.23%,8537674,22.55%
2,British Columbia,4648055,13.22%,5110917,13.51%
3,Alberta,4067175,11.57%,4413146,11.63%
4,Manitoba,1278365,3.64%,1377517,3.64%
5,Saskatchewan,1098352,3.12%,1181666,3.12%
6,Nova Scotia,923598,2.63%,977457,2.58%
7,New Brunswick,747101,2.13%,779993,2.06%
8,Newfoundland and Labrador,519716,1.48%,521365,1.38%
9,Prince Edward Island,142907,0.41%,158158,0.42%
10,Northwest Territories,41786,0.12%,44904,0.12%
11,Nunavut,35944,0.10%,39097,0.10%
12,Yukon,35874,0.10%,41078,0.11%
13,Canada,35151728,100%,37894799,100%

In [65]:
# Rename 2020 population (Q1 est.)[2] column name 
pop_2020_change = canadian_pop.rename(columns = {"2020 population(Q1 est.)[2]": "Population 2020"})
pop_2020_change

,Province,Population 2016,Population 2016,2020 population(Q1 est.)[2],2020 population(Q1 est.)[2]
0,Ontario,13448494,38.26%,14711827,38.79%
1,Quebec,8164361,23.23%,8537674,22.55%
2,British Columbia,4648055,13.22%,5110917,13.51%
3,Alberta,4067175,11.57%,4413146,11.63%
4,Manitoba,1278365,3.64%,1377517,3.64%
5,Saskatchewan,1098352,3.12%,1181666,3.12%
6,Nova Scotia,923598,2.63%,977457,2.58%
7,New Brunswick,747101,2.13%,779993,2.06%
8,Newfoundland and Labrador,519716,1.48%,521365,1.38%
9,Prince Edward Island,142907,0.41%,158158,0.42%
10,Northwest Territories,41786,0.12%,44904,0.12%
11,Nunavut,35944,0.10%,39097,0.10%
12,Yukon,35874,0.10%,41078,0.11%
13,Canada,35151728,100%,37894799,100%

In [66]:
# Use iloc function to view the table we'd like: Province,Population 2016 Number,Population 2020 Number
#can_pop_df.iloc[:,:-1]
canadian_pop.iloc[:,[1,2,-2]]
canadian_pop

,Province,Population 2016,Population 2016,2020 population(Q1 est.)[2],2020 population(Q1 est.)[2]
0,Ontario,13448494,38.26%,14711827,38.79%
1,Quebec,8164361,23.23%,8537674,22.55%
2,British Columbia,4648055,13.22%,5110917,13.51%
3,Alberta,4067175,11.57%,4413146,11.63%
4,Manitoba,1278365,3.64%,1377517,3.64%
5,Saskatchewan,1098352,3.12%,1181666,3.12%
6,Nova Scotia,923598,2.63%,977457,2.58%
7,New Brunswick,747101,2.13%,779993,2.06%
8,Newfoundland and Labrador,519716,1.48%,521365,1.38%
9,Prince Edward Island,142907,0.41%,158158,0.42%
10,Northwest Territories,41786,0.12%,44904,0.12%
11,Nunavut,35944,0.10%,39097,0.10%
12,Yukon,35874,0.10%,41078,0.11%
13,Canada,35151728,100%,37894799,100%

In [40]:
us_file_path1 = "Resources/US_States_energy_clean.csv"

# create the data frame 
us_energy1_df = pd.read_csv(us_file_path1)
us_energy1_df.head()

,State,Coal,Natural Gas b,Crude Oil,Nuclear Electric Power,Biofuels,Other,Total
0,Alabama,326.7,159.7,39.1,446.1,0,255.5,"1,227.20"
1,Alaska,14.4,382.7,"1,032.80",0,0,23.7,"1,453.50"
2,Arizona,134,0.1,0.1,338.2,6.8,141.9,621.1
3,Arkansas,0.8,721.3,30.3,132.7,0,109.4,994.6
4,California,0,236.8,996.4,187.2,29.8,"1,085.50","2,535.80"

In [26]:
us_file_path2 = "Resources/US_energies.csv"

# create the data frame 
us_energy2_df = pd.read_csv(us_file_path2)
us_energy2_df.head()

,States,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692

In [28]:
# Drop unwanted columns 
us_energy2_df = us_energy2_df.drop(columns = ['urbanUtilityScalePV_GWh', 'urbanUtilityScalePV_GW',
       'urbanUtilityScalePV_km2', 'ruralUtilityScalePV_GWh',
       'ruralUtilityScalePV_GW', 'ruralUtilityScalePV_km2', 'rooftopPV_GWh',
       'rooftopPV_GW', 'CSP_GWh', 'CSP_GW', 'CSP_km2','onshoreWind_GW', 'onshoreWind_km2','offshoreWind_GW', 'offshoreWind_km2', 'biopowerSolid_GW', 'biopowerSolid_BDT','biopowerGaseous_GW', 'biopowerGaseous_Tonnes-CH4','geothermalHydrothermal_GW','EGSGeothermal_GWh', 'EGSGeothermal_GW','hydropower_GW', 'hydropower_countOfSites'])
us_energy2_df.head()

,States,onshoreWind_GWh,offshoreWind_GWh,biopowerSolid_GWh,biopowerGaseous_GWh,geothermalHydrothermal_GWh,hydropower_GWh
0,Alabama,283,0.0,11193,1533,0,4102
1,Alaska,1373433,NaN,513,61,15437,23675
2,Arizona,26036,NaN,1087,837,8329,1303
3,Arkansas,22892,NaN,14381,1063,0,6093
4,California,89862,2662579.0,12408,15510,130921,30023

In [44]:
#Rename columns
us_energy2_df = us_energy2_df.rename(columns = {"onshoreWind_GWh":"Onshore Wind GWH", "offshoreWind_GWh": "Offshore Wind GWH", "biopowerSolid_GWh":"Biopower Solid GWH",
       "biopowerGaseous_GWh":"Biopower Gases GWH", "geothermalHydrothermal_GWh": "Geothermal GWH", "hydropower_GWh":"Hydropower GWH"})

us_energy2_df.head()

,States,Onshore Wind GWH,Offshore Wind GWH,Biopower Solid GWH,Biopower Gases GWH,Geothermal GWH,Hydropower GWH
0,Alabama,283,0,11193,1533,0,4102
1,Alaska,1373433,0,513,61,15437,23675
2,Arizona,26036,0,1087,837,8329,1303
3,Arkansas,22892,0,14381,1063,0,6093
4,California,89862,2.66258e+06,12408,15510,130921,30023

In [34]:
# Drop all NaN values 
us_energy2_df['Onshore Wind GWH'].fillna("0",inplace = True)
us_energy2_df['Offshore Wind GWH'].fillna("0",inplace = True)
us_energy2_df['Biopower Solid GWH'].fillna("0",inplace = True)
us_energy2_df['Biopower Gases GWH'].fillna("0",inplace = True)
us_energy2_df['Geothermal GWH'].fillna("0",inplace = True)
us_energy2_df['Hydropower GWH'].fillna("0",inplace = True)
us_energy2_df.head()

,States,Onshore Wind GWH,Offshore Wind GWH,Biopower Solid GWH,Biopower Gases GWH,Geothermal GWH,Hydropower GWH
0,Alabama,283,0,11193,1533,0,4102
1,Alaska,1373433,0,513,61,15437,23675
2,Arizona,26036,0,1087,837,8329,1303
3,Arkansas,22892,0,14381,1063,0,6093
4,California,89862,2.66258e+06,12408,15510,130921,30023

In [39]:
#Types of electricity genertaion in Canada, value shown in Kilowatts. 
can_file_path1 = "Resources/Canada_Turbines_2017.csv"

# create the data frame 
can_energy_df = pd.read_csv(can_file_path1)
can_energy_df

  Type of electricity generation  Kilowatts
0       Total installed capacity  145213838
1              Hydraulic turbine   80763622
2             Wind power turbine   12402715
3            Tidal power turbine      20000
4                    Solar power    2297863
5                  Total thermal   49729638
6     Conventional steam turbine   21295779
7          Nuclear steam turbine   14033000
8             Combustion turbine   13205566
9    Internal combustion turbine    1195293

In [40]:
can_file_path2 = "Resources/Household_Energy_Consumption_by_Province.csv"

# create the data frame 
can_energy2_df = pd.read_csv(can_file_path2)
can_energy2_df.head(50)

   Average Gigajoules per Household by Province   2013   2015
0                                        Canada   97.5   92.5
1                     Newfoundland and Labrador   85.0   82.7
2                          Prince Edward Island  101.6  105.7
3                                   Nova Scotia   83.7   88.1
4                                 New Brunswick   76.5   78.8
5                                        Quebec   78.0   73.4
6                                       Ontario  100.2  101.0
7                                      Manitoba  117.7  105.8
8                                  Saskatchewan  118.6  112.0
9                                       Alberta  137.1  117.7
10                             British Columbia   92.1   80.3

In [42]:
can_file_path_4 = "Resources/Average_Gigajoules_Per_Household_By_Province.csv"
can_energy_household = pd.read_csv(can_file_path_4)
can_energy_household

                  Province  Average Gigajoules per household
0                   Canada                      5.946158e+08
1                 Atlantic                      5.365982e+07
2                   Quebec                      2.404443e+08
3                  Ontario                      1.652202e+08
4  Manitoba / Saskatchewan                      3.790288e+07
5                  Alberta                      3.842999e+07
6         British Columbia                      5.895864e+07

In [43]:
can_file_path_5 = "Resources/Total_Energy_Consumed_by_Province.csv"
tot_eng_consumed_province = pd.read_csv(can_file_path_5)
tot_eng_consumed_province

                  Province  Total Energy Consumption Gigajouls
0                   Canada                        1.411735e+09
1                 Atlantic                        1.091297e+08
2                   Quebec                        3.141301e+08
3                  Ontario                        5.496535e+08
4  Manitoba / Saskatchewan                        1.020660e+08
5                  Alberta                        1.828680e+08
6         British Columbia                        1.538882e+08