In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Store the Wikipedia URL
us_wiki_url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population#cite_note-5"

# Use Pandas to scrape Wikipedia page for tables
us_wiki_tables = pd.read_html(us_wiki_url)

us_pop_df = us_wiki_tables[0]
us_pop_df.head()

     Rank              State         Census population                   \
  Current 2010         State Estimate, July 1, 2019[5] April 1, 2010[6]
0     1.0  1.0    California                  39512223         37254523
1     2.0  2.0         Texas                  28995881         25145561
2     3.0  4.0       Florida                  21477737         18801310
3     4.0  3.0      New York                  19453561         19378102
4     5.0  6.0  Pennsylvania                  12801989         12702379

  Change, 2010–2019             Total U.S. House of Representatives Seats  \
    Percent[note 3]    Absolute Total U.S. House of Representatives Seats
0              6.1%  +2,257,700                                        53
1             15.3%  +3,850,320                                        36
2             14.2%  +2,676,427                                        27
3              0.4%     +75,459                                        27
4              0.8%     +99,610                                        18

  Estimated population per electoral vote, 2019[note 1]  \
  Estimated population per electoral vote, 2019[note 1]
0                                             718404
1                                             763050
2                                             740611
3                                             670812
4                                             640099

  Census population per House seat          \
                   Estimated, 2019    2010
0                           745514  702885
1                           805441  698503
2                           795472  696468
3                           720502  717707
4                           711222  705715

  Percent of the total U.S. population, 2019[note 2]
  Percent of the total U.S. population, 2019[note 2]
0                                             11.91%
1                                              8.74%
2                                              6.47%
3                                              5.86%
4                                              3.86%

In [3]:
us_pop_df.columns

MultiIndex([(                                                 'Rank', ...),
            (                                                 'Rank', ...),
            (                                                'State', ...),
            (                                    'Census population', ...),
            (                                    'Census population', ...),
            (                                    'Change, 2010–2019', ...),
            (                                    'Change, 2010–2019', ...),
            (            'Total U.S. House of Representatives Seats', ...),
            ('Estimated population per electoral vote, 2019[note 1]', ...),
            (                     'Census population per House seat', ...),
            (                     'Census population per House seat', ...),
            (   'Percent of the total U.S. population, 2019[note 2]', ...)],
           )

In [4]:
#us_pop_df.iloc[:,:-1]

In [5]:
pop_us = us_pop_df.iloc[:,[1,2,-3,-2]]
pop_us.columns = pop_us.columns.droplevel(level=1)
pop_us.drop(['Rank'], axis=1, inplace=True)
pop_us.columns=[ "State", "Population - 2019", "Population - 2010"]
df2 = pop_us
df2.head()

C:\Users\PC\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          State Population - 2019 Population - 2010
0    California            745514            702885
1         Texas            805441            698503
2       Florida            795472            696468
3      New York            720502            717707
4  Pennsylvania            711222            705715

In [7]:
# Store the Wikipedia URL
can_wiki_url = "https://en.wikipedia.org/wiki/Population_of_Canada_by_province_and_territory"

# Use Pandas to scrape Wikipedia page for tables
can_wiki_tables = pd.read_html(can_wiki_url)

# first table
can_pop_df = can_wiki_tables[0]
can_pop_df.head()

  2016 PopulationRank           Name[1] Population,2016 Census             \
  2016 PopulationRank           Name[1]                  Total Proportion
0                   1           Ontario               13448494     38.26%
1                   2            Quebec                8164361     23.23%
2                   3  British Columbia                4648055     13.22%
3                   4           Alberta                4067175     11.57%
4                   5          Manitoba                1278365      3.64%

  Growth,2011–16 Land area(km2) Populationdensity(per km2)  \
  Growth,2011–16 Land area(km2) Populationdensity(per km2)
0           4.6%      908699.33                       14.8
1           3.3%     1356625.27                        6.0
2           5.6%      922503.01                        5.0
3          11.6%      640330.46                        6.4
4           5.8%      552370.99                        2.3

  House ofCommons seats            2020 population(Q1 est.)[2]             \
                  Total Proportion                       Total Proportion
0                   121      35.8%                    14711827     38.79%
1                    78      23.1%                     8537674     22.55%
2                    42      12.4%                     5110917     13.51%
3                    34      10.1%                     4413146     11.63%
4                    14       4.1%                     1377517      3.64%

  Growth, 2016–20
  Growth, 2016–20
0           9.00%
1           4.39%
2           9.84%
3           8.07%
4           7.47%

In [8]:
can_pop_df.columns

MultiIndex([(        '2016 PopulationRank',        '2016 PopulationRank'),
            (                    'Name[1]',                    'Name[1]'),
            (     'Population,2016 Census',                      'Total'),
            (     'Population,2016 Census',                 'Proportion'),
            (             'Growth,2011–16',             'Growth,2011–16'),
            (             'Land area(km2)',             'Land area(km2)'),
            ( 'Populationdensity(per km2)', 'Populationdensity(per km2)'),
            (      'House ofCommons seats',                      'Total'),
            (      'House ofCommons seats',                 'Proportion'),
            ('2020 population(Q1 est.)[2]',                      'Total'),
            ('2020 population(Q1 est.)[2]',                 'Proportion'),
            (            'Growth, 2016–20',            'Growth, 2016–20')],
           )

In [9]:
pop_can = can_pop_df.iloc[:-1,[1,2,-3]]
pop_can.columns = pop_can.columns.droplevel(level=1)
pop_can.columns=[ "Provinces", "Population - 2016", "Population - 2020"]
df4 = pop_can
df4.head()

          Provinces  Population - 2016  Population - 2020
0           Ontario           13448494           14711827
1            Quebec            8164361            8537674
2  British Columbia            4648055            5110917
3           Alberta            4067175            4413146
4          Manitoba            1278365            1377517

In [10]:
us_file_path1 = "Resources/US_States_energy_clean.csv"

# create the data frame 
us_energy1_df = pd.read_csv(us_file_path1)
us_energy1_df.head()

,State,Coal,Natural Gas b,Crude Oil,Nuclear Electric Power,Biofuels,Other,Total
0,Alabama,326.7,159.7,39.1,446.1,0,255.5,"1,227.20"
1,Alaska,14.4,382.7,"1,032.80",0,0,23.7,"1,453.50"
2,Arizona,134,0.1,0.1,338.2,6.8,141.9,621.1
3,Arkansas,0.8,721.3,30.3,132.7,0,109.4,994.6
4,California,0,236.8,996.4,187.2,29.8,"1,085.50","2,535.80"

In [11]:
us_file_path2 = "Resources/US_energies.csv"

# create the data frame 
us_energy2_df = pd.read_csv(us_file_path2)
us_energy2_df.head()

,States,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692

In [12]:
# select the columns
us_energy_clean = us_energy2_df[["States", "urbanUtilityScalePV_GWh","ruralUtilityScalePV_GWh","rooftopPV_GWh", "CSP_GWh","onshoreWind_GWh","offshoreWind_GWh", "biopowerSolid_GWh", "biopowerGaseous_GWh", "geothermalHydrothermal_GWh", "EGSGeothermal_GWh", "hydropower_GWh"]]
                     
# display the new dataframe
us_energy_clean.head()

,States,urbanUtilityScalePV_GWh,ruralUtilityScalePV_GWh,rooftopPV_GWh,CSP_GWh,onshoreWind_GWh,offshoreWind_GWh,biopowerSolid_GWh,biopowerGaseous_GWh,geothermalHydrothermal_GWh,EGSGeothermal_GWh,hydropower_GWh
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,NaN,0,1373433,NaN,513,61,15437,NaN,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,NaN,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,NaN,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023

In [13]:
# Rename the columns
us_energy_clean.columns=[ "States", "Urban Solar", "Rural Solar", "Rooftop Solar", "CSP Solar", "Onshore Wind", "Offshore Wind", "Biopower Solid", "Biopower Gaseous", "Geothermal Hydrothermal", "EGS Geothermal", "Hydropower"]
us_energy_clean.head()

# Drop NAN to 0
us_energy_clean.fillna(0, inplace=True)
us_energy_clean.head()

C:\Users\PC\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

,States,Urban Solar,Rural Solar,Rooftop Solar,CSP Solar,Onshore Wind,Offshore Wind,Biopower Solid,Biopower Gaseous,Geothermal Hydrothermal,EGS Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,0.0,0,1373433,0.0,513,61,15437,0.0,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,0.0,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,0.0,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023

In [14]:
#Total cnergy consumed by state 
us_file_path3 = "Resources/Total_energy_consumed.csv"

# create the data frame 
us_total_energy_df = pd.read_csv(us_file_path3)
us_total_energy_df.columns=[ "State", "Total Energy Consumed - BTU"]
df1 = us_total_energy_df
df1.head()

          State  Total Energy Consumed - BTU
0    Louisiana                           960
1      Wyoming                           885
2  North Dakota                          836
3        Alaska                          822
4          Iowa                          496

In [15]:
# Join Population and Total Energy Consumed DataFrames
US_final_value = df2.merge(df1, on = 'State', how = 'inner')
US_final_value.colums = ["State"]

US_final_value.head()

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

,State,Population - 2019,Population - 2010,Total Energy Consumed - BTU
0,California,745514,702885,200
1,Texas,805441,698503,472
2,Florida,795472,696468,201
3,New York,720502,717707,188
4,Pennsylvania,711222,705715,298

In [16]:
#EXPORT CSV 
US_final = "Resources/us_totals_comparison.csv"
US_final_value.to_csv(US_final,index=False)

In [17]:
can_file_path1 = "Resources/Installed plants, annual generating capacity by type of electricity generation _Canada.csv"

# create the data frame 
can_energy_df = pd.read_csv(can_file_path1)
can_energy_df.head(12)

#Types of electricity genertaion in Canada, value shown in Kilowatts.

  Type of electricity generation  Kilowatts
0       Total installed capacity  145213838
1              Hydraulic turbine   80763622
2             Wind power turbine   12402715
3            Tidal power turbine      20000
4                    Solar power    2297863
5                  Total thermal   49729638
6     Conventional steam turbine   21295779
7          Nuclear steam turbine   14033000
8             Combustion turbine   13205566
9    Internal combustion turbine    1195293

In [18]:
#EXPORT CSV

In [19]:
#Total Energy Consumption by provinces
can_file_path3 = "Resources/Energy_consumption_by_province.csv"

# create the data frame 
can_energy3_df = pd.read_csv(can_file_path3)
can_energy3_df.head(22)

,Provinces,Energy consumption,2013,2015
0,NaN,Gigajoules per household,97.5,92.5
1,Newfoundland and Labrador,Gigajoules,"18,540,233","18,065,134"
2,NaN,Gigajoules per household,85,82.7
3,Prince Edward Island,Gigajoules,"5,976,438","6,263,528"
4,NaN,Gigajoules per household,101.6,105.7
5,Nova Scotia,Gigajoules,"33,245,605","35,386,359"
6,NaN,Gigajoules per household,83.7,88.1
7,New Brunswick,Gigajoules,"24,013,701","25,044,515"
8,NaN,Gigajoules per household,76.5,78.8
9,Quebec,Gigajoules,"271,214,951","261,438,871"
10,NaN,Gigajoules per household,78,73.4
11,Ontario,Gigajoules,"522,205,592","533,097,802"
12,NaN,Gigajoules per household,100.2,101
13,Manitoba,Gigajoules,"56,756,213","50,760,804"
14,NaN,Gigajoules per household,117.7,105.8
15,Saskatchewan,Gigajoules,"50,449,383","48,034,372"
16,NaN,Gigajoules per household,118.6,112
17,Alberta,Gigajoules,"205,306,380","181,736,467"
18,NaN,Gigajoules per household,137.1,117.7
19,British Columbia,Gigajoules,"172,821,409","151,137,734"
20,NaN,Gigajoules per household,92.1,80.3
21,Canada,Gigajoules,"1,360,529,905","1,310,965,586"

In [20]:
# Drop NAN Values
#Total Energy Consumption by provinces

df3 = can_energy3_df.dropna(subset = ["Provinces", "2013", "2015"])


df3.head()

                   Provinces Energy consumption         2013         2015
1  Newfoundland and Labrador         Gigajoules   18,540,233   18,065,134
3       Prince Edward Island         Gigajoules    5,976,438    6,263,528
5                Nova Scotia         Gigajoules   33,245,605   35,386,359
7              New Brunswick         Gigajoules   24,013,701   25,044,515
9                     Quebec         Gigajoules  271,214,951  261,438,871

In [21]:
#MERGE 
CAN_final_value = df3.merge(df4, on = 'Provinces', how = 'inner')
CAN_final_value.columns=[ "Provinces", "Energy_consumption", "Consumption_2013", "Consumption_2015", "Population_2016", "Population_2020"]
#CAN_final_value.dtypes
#CAN_final_value.set_index("id", inplace=True)
CAN_final_value.head()

,Provinces,Energy_consumption,Consumption_2013,Consumption_2015,Population_2016,Population_2020
0,Newfoundland and Labrador,Gigajoules,"18,540,233","18,065,134",519716,521365
1,Prince Edward Island,Gigajoules,"5,976,438","6,263,528",142907,158158
2,Nova Scotia,Gigajoules,"33,245,605","35,386,359",923598,977457
3,New Brunswick,Gigajoules,"24,013,701","25,044,515",747101,779993
4,Quebec,Gigajoules,"271,214,951","261,438,871",8164361,8537674

In [22]:
#CAN_final_value["Provinces"] = CAN_final_value["Provinces"].astype('str')
#CAN_final_value["Energy_consumption"] = CAN_final_value["Energy_consumption"].astype('str')
#CAN_final_value["Consumption_2013"] = CAN_final_value["Consumption_2013"].astype('str')
#CAN_final_value["Consumption_2015"] = CAN_final_value["Consumption_2015"].astype('str')

#CAN_final_value.dtypes

In [23]:
#EXPORT CSV 
CAN_final = "Resources/can_totals_comparison.csv"
CAN_final_value.to_csv(CAN_final,index=False)

In [24]:
US_CAN = "Resources/Total_Energy_Consumption.csv"

# create the data frame 
US_CAN_df = pd.read_csv(US_CAN)
US_CAN_df.head(50)

,Countries,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
0,Bermuda,0.00793,0.00686,0.00727,0.00771,0.00752,0.00741,0.007,0.00988,0.0108,...,0.00752,0.0075,0.00744,0.00752,0.00814,0.00869,0.00927,0.00922,0.01018,0.01017
1,Canada,9.6947,9.58952,9.20637,9.18989,9.78546,10.15278,10.25563,10.58943,11.05599,...,12.97692,13.07669,12.87847,13.10786,13.52061,13.83128,14.16374,13.81736,14.07179,14.02923
2,Greenland,0.00791,0.00746,0.00722,0.00505,0.00799,0.00714,0.00462,0.00335,0.00777,...,0.00756,0.00772,0.00796,0.00805,0.00809,0.00813,0.00829,0.00846,0.00826,0.00883
3,Mexico,3.72819,4.11969,4.33477,4.06414,4.18464,4.42001,4.36327,4.51142,4.58822,...,6.10047,6.37958,6.32931,6.32936,6.50563,6.48998,6.80188,7.36271,7.27651,7.30898
4,Saint Pierre and Miquelon,0.0022,0.00221,0.00203,0.00221,0.00216,0.00191,0.0024,0.00306,0.00319,...,0.00096,0.00105,0.00096,0.00096,0.00105,0.00113,0.00117,0.00118,0.00122,0.00125
5,United States,78.12376,76.1694,73.15332,73.03603,77.02972,76.7898,77.02183,79.43723,83.07769,...,97.11468,99.25385,96.53415,98.03879,98.31384,100.49743,100.60722,99.90566,101.67563,99.53011
6,Antarctica,0.00213,0.00213,0.00212,0.00213,0.0027,0.00304,0.00275,0.00283,0.00291,...,0.00314,0.00313,0.00318,0.00318,0.00327,0.00325,0.00348,0.00348,0.00335,0.00362
7,Antigua and Barbuda,0.00598,0.00531,0.00711,0.00415,0.0047,0.00461,0.00462,0.00564,0.0058,...,0.00705,0.00725,0.00727,0.00732,0.00776,0.00836,0.00909,0.00927,0.00891,0.00931
8,Argentina,1.64042,1.59706,1.67295,1.69346,1.83705,1.74194,1.89743,1.95167,1.95689,...,2.60392,2.66834,2.61214,2.48152,2.6667,2.78017,2.95424,3.1205,3.2614,3.2942
9,Aruba,--,--,--,--,--,--,0.00146,0.00146,0.00556,...,0.01277,0.01349,0.01353,0.01353,0.01442,0.01452,0.01487,0.01597,0.01461,0.01496
10,"Bahamas, The",0.0599,0.06326,0.0541,0.04065,0.03669,0.03321,0.03275,0.03622,0.0338,...,0.04834,0.04749,0.0466,0.0469,0.0566,0.0572,0.0658,0.06591,0.06274,0.06832
11,Barbados,0.01446,0.0153,0.01527,0.01613,0.01555,0.01715,0.01826,0.01731,0.01645,...,0.0215,0.02378,0.02293,0.02293,0.02335,0.01599,0.0216,0.0206,0.0187,0.02018
12,Belize,0.0033,0.00302,0.00283,0.00283,0.0031,0.0031,0.00379,0.00306,0.00221,...,0.00726,0.01033,0.01335,0.01273,0.01304,0.01392,0.01471,0.01597,0.01635,0.01676
13,Bolivia,0.07454,0.0834,0.07371,0.07562,0.07319,0.06694,0.06835,0.06706,0.07765,...,0.14125,0.16198,0.14539,0.15743,0.19905,0.20276,0.20148,0.22697,0.23411,0.25172
14,Brazil,4.02179,3.88321,3.94323,3.94192,4.30882,4.59267,4.9686,5.11182,5.29206,...,8.25282,8.52612,8.43611,8.55009,8.66095,8.99517,9.34698,9.68601,10.10456,10.62958
15,Cayman Islands,0.00144,0.00155,0.00155,0.00151,0.00155,0.00159,0.0016,0.00163,0.00382,...,0.00496,0.0049,0.00496,0.00496,0.00514,0.00551,0.00578,0.00657,0.00757,0.00696
16,Chile,0.42668,0.41949,0.37365,0.37945,0.39224,0.39888,0.38895,0.41039,0.44866,...,0.98852,1.01781,1.05766,1.06597,1.13777,1.20202,1.28702,1.31225,1.07515,1.2154
17,Colombia,0.69636,0.71547,0.76684,0.77864,0.85268,0.86345,0.90079,0.82399,0.91932,...,1.17954,1.17229,1.16377,1.16042,1.20275,1.21616,1.26857,1.28904,1.32615,1.37243
18,Costa Rica,0.05545,0.0572,0.0558,0.06133,0.05911,0.05935,0.05825,0.06449,0.06984,...,0.14126,0.15038,0.15489,0.1641,0.1699,0.17402,0.17334,0.18699,0.19668,0.19785
19,Cuba,0.45609,0.46394,0.50096,0.45969,0.47611,0.48449,0.50073,0.49287,0.50014,...,0.45473,0.45719,0.46389,0.46501,0.46394,0.45473,0.39888,0.35584,0.37119,0.41533
20,Dominica,0.00048,0.00061,0.0006,0.00067,0.00068,0.00073,0.00072,0.00077,0.00096,...,0.00153,0.00148,0.00175,0.00191,0.00203,0.00188,0.00161,0.00198,0.00202,0.00212
21,Dominican Republic,0.08726,0.08641,0.09122,0.10872,0.09397,0.10676,0.10905,0.12611,0.13375,...,0.21785,0.23413,0.24307,0.25245,0.28601,0.27134,0.2718,0.28124,0.29402,0.29675
22,Ecuador,0.18651,0.19313,0.21098,0.19725,0.2079,0.2206,0.23703,0.2338,0.2423,...,0.33588,0.34462,0.3609,0.36515,0.37612,0.3921,0.40695,0.44359,0.47109,0.49731
23,El Salvador,0.04785,0.04533,0.04478,0.04861,0.04904,0.04968,0.05225,0.05144,0.05566,...,0.10964,0.10851,0.11455,0.11369,0.12329,0.12086,0.12701,0.13192,0.13624,0.13621
24,Falkland Islands (Islas Malvinas),0.00017,0.00017,0.00017,0.00017,0.00017,0.00022,0.00022,0.00022,0.00043,...,0.00039,0.00039,0.00039,0.00044,0.00044,0.00048,0.00052,0.00057,0.00065,0.00062
25,French Guiana,0.00515,0.00443,0.00565,0.00581,0.00463,0.00465,0.00542,0.00598,0.00706,...,0.01355,0.01369,0.01373,0.0141,0.01472,0.01425,0.01484,0.01498,0.01442,0.01419
26,Grenada,0.00067,0.00077,0.00085,0.00083,0.00085,0.00088,0.00098,0.00102,0.00111,...,0.00278,0.00181,0.00318,0.00345,0.00349,0.00352,0.00361,0.00381,0.00377,0.00414
27,Guadeloupe,0.00707,0.0101,0.01275,0.01339,0.01483,0.01341,0.01347,0.01536,0.01681,...,0.02445,0.02581,0.02628,0.02672,0.02777,0.02835,0.02976,0.03126,0.03483,0.03306
28,Guatemala,0.06717,0.05719,0.05804,0.063,0.05405,0.06058,0.06525,0.06536,0.07126,...,0.15069,0.15534,0.16712,0.16601,0.17453,0.18105,0.19806,0.20622,0.21499,0.20642
29,Guyana,0.02142,0.02434,0.01956,0.01726,0.01973,0.02005,0.01933,0.0147,0.01461,...,0.02096,0.0229,0.02354,0.02393,0.02341,0.02101,0.02313,0.022,0.02186,0.02087
30,Haiti,0.015,0.01088,0.0143,0.01285,0.01307,0.01495,0.01467,0.0213,0.02316,...,0.02341,0.02408,0.02601,0.02652,0.02639,0.02686,0.02719,0.02785,0.02907,0.02957
31,Honduras,0.03317,0.03085,0.0315,0.0329,0.03382,0.03222,0.03763,0.03635,0.04547,...,0.08749,0.08601,0.09293,0.09774,0.10037,0.10915,0.11653,0.12612,0.13809,0.13316
32,Jamaica,0.11805,0.09955,0.08658,0.09239,0.07545,0.06769,0.06822,0.07341,0.08471,...,0.15216,0.14631,0.14713,0.15121,0.15735,0.15908,0.15319,0.17203,0.18094,0.17164
33,Martinique,0.00934,0.00919,0.00917,0.00906,0.00813,0.00979,0.01053,0.01194,0.01429,...,0.02777,0.02815,0.02841,0.02879,0.03002,0.03085,0.03264,0.03257,0.0338,0.03359
34,Montserrat,0.00026,0.00028,0.00028,0.00028,0.00028,0.00031,0.00031,0.00035,0.0004,...,0.00071,0.00075,0.00075,0.00075,0.00084,0.00092,0.00097,0.00106,0.00115,0.00128
35,Netherlands Antilles,0.23781,0.22241,0.21486,0.19761,0.18614,0.15532,0.1517,0.15405,0.14343,...,0.15593,0.15562,0.15753,0.15079,0.14447,0.14518,0.15288,0.16006,0.16834,0.16472
36,Nicaragua,0.03277,0.03356,0.03337,0.03243,0.03494,0.0391,0.0383,0.03915,0.03866,...,0.05777,0.05702,0.0612,0.06272,0.06472,0.06868,0.07328,0.07308,0.0752,0.07572
37,Panama,0.18343,0.18621,0.17593,0.17807,0.18243,0.16576,0.17099,0.17813,0.1752,...,0.20489,0.20636,0.20343,0.20283,0.19681,0.22719,0.2202,0.22937,0.23497,0.2387
38,Paraguay,0.0279,0.02715,0.02639,0.02846,0.03129,0.05515,0.11264,0.1677,0.17444,...,0.42376,0.42971,0.37938,0.39444,0.4241,0.41508,0.40976,0.42508,0.4253,0.43799
39,Peru,0.40399,0.43033,0.42903,0.40122,0.41196,0.41853,0.4496,0.45514,0.45353,...,0.51295,0.52865,0.53767,0.54603,0.55724,0.57425,0.60342,0.65921,0.65862,0.69404
40,Puerto Rico,0.42761,0.45014,0.33107,0.3207,0.35934,0.31086,0.33724,0.35071,0.3202,...,0.40469,0.44138,0.47957,0.48281,0.51986,0.53042,0.51355,0.51434,0.42645,0.38902
41,Saint Kitts and Nevis,0.00075,0.00079,0.00091,0.00074,0.00075,0.00075,0.00075,0.00079,0.00092,...,0.00145,0.00145,0.00145,0.00145,0.00163,0.00179,0.00189,0.00249,0.00354,0.00375
42,Saint Lucia,0.00164,0.0013,0.00155,0.00143,0.00143,0.00176,0.00177,0.00198,0.00242,...,0.00296,0.00471,0.00494,0.00504,0.00552,0.00533,0.00532,0.00548,0.00577,0.00607
43,Saint Vincent/Grenadines,0.00073,0.00069,0.00074,0.00074,0.00074,0.00085,0.00087,0.00095,0.00112,...,0.00261,0.00269,0.00268,0.00284,0.00296,0.00318,0.00317,0.0031,0.00314,0.0036
44,Suriname,0.04058,0.03563,0.03487,0.0247,0.02339,0.02843,0.02605,0.01907,0.02224,...,0.03452,0.02927,0.03074,0.032,0.03275,0.03364,0.03496,0.03608,0.03571,0.03522
45,Trinidad and Tobago,0.17413,0.16712,0.16779,0.18491,0.25078,0.27406,0.20582,0.19155,0.19772,...,0.39859,0.42054,0.47353,0.49997,0.53888,0.58999,0.67326,0.82111,0.824,0.88726
46,Turks and Caicos Islands,0,0,0,0,0,0,0,0,0,...,0.00021,0.00039,0.00023,0.00018,0.00018,0.00017,0.00018,0.00017,0.001,0.00106
47,Uruguay,0.10946,0.10379,0.09886,0.12048,0.11735,0.10893,0.11437,0.12222,0.11928,...,0.15963,0.16442,0.16216,0.1684,0.16332,0.14094,0.15674,0.14874,0.1777,0.16634
48,Venezuela,1.5883,1.72323,1.7466,1.6837,1.71362,1.74239,1.88679,1.92305,1.93668,...,2.73112,2.76891,3.03054,2.93435,2.72292,2.93095,2.89477,3.16788,3.07123,3.19277
49,"Virgin Islands, U.S.",0.24982,0.22395,0.16259,0.1143,0.13365,0.1496,0.09966,0.11733,0.08209,...,0.13189,0.13864,0.19195,0.19075,0.22458,0.23458,0.22889,0.23891,0.21603,0.36419

In [25]:
#DROP ALL VALUES EXCEPT US AND CANADA
# Energy consumption by Canada and US yearly wise 

US_CAN_df[(US_CAN_df.Countries =='Canada') | (US_CAN_df.Countries =='United States')]

,Countries,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
1,Canada,9.6947,9.58952,9.20637,9.18989,9.78546,10.15278,10.25563,10.58943,11.05599,...,12.97692,13.07669,12.87847,13.10786,13.52061,13.83128,14.16374,13.81736,14.07179,14.02923
5,United States,78.12376,76.1694,73.15332,73.03603,77.02972,76.7898,77.02183,79.43723,83.07769,...,97.11468,99.25385,96.53415,98.03879,98.31384,100.49743,100.60722,99.90566,101.67563,99.53011

In [26]:
#connect to database
connection_string = "postgres:90Ashraj_1@localhost:5432/ETL_Project_final"
engine = create_engine(f'postgresql://{connection_string}')

In [27]:
# Confirm tables
engine.table_names()

['united states', 'canada']

In [28]:
#CAN_final_value.columns

In [29]:
CAN_final_value.to_sql(name='canada', con=engine, if_exists='append', index=False)

In [30]:
#US_final_value.columns

In [31]:
US_final_value.to_sql(name='united states', con=engine, if_exists='append', index=True)